{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block stylesheets %} 
  
{% endblock %} 

{% block body %}
    
        
    <main class='main-content bgc-grey-100'>
          <div id='mainContent'>
            <div class="container-fluid">
            
             <div class="row">
                <div class="col-md-12">
                  <div class="bgc-white bd bdrs-3 p-20 mB-20">
                    <h4 class="c-grey-900 mB-20">Aggiungi nuovo utente</h4>
    

   
                            
   
                              {{ form_start(form) }}
                              {{ form_widget(form) }}
                              <button class="btn cur-p btn-success" type="submit">Aggiungi</button>
                              {{ form_end(form) }}
                            



     </div>
          
          </div>
          
          </div>
         
        </main>

    

    

{% endblock %}